# binaries
helpers/echo-exit
helpers/echo-rot13
helpers/echo-signal
helpers/exit-status-0
helpers/fd-perms
helpers/list-fds
helpers/timeout

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
